.container{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;
    background: url('https://img.freepik.com/premium-photo/close-up-mountain-with-sunset-background-generative-ai_955884-18804.jpg?w=360') no-repeat;
    background-size: cover;
}
.login-button{
    margin: 50px 0 15px 0;
}
ion-item:first-child{
    margin-bottom: 10px;
}
ion-input{
    border:1px solid white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}