<ion-header>
  <ion-toolbar>
    <ion-button slot="start" color="light">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card routerLink="/products">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/free-photo/fun-3d-cartoon-teenage-boy-shopping_183364-81186.jpg?w=740&t=st=1692896055~exp=1692896655~hmac=8702e1a1f28d88dbe7dbcba359cf2bb310812abd058b3f801bcf976a5876fde2" />
      <ion-card-header>
        <ion-card-title>Product</ion-card-title>
        <ion-card-subtitle>find and buy products</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/location">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/premium-photo/delivery-guy-holding-phone-yellow-uniform-stands-with-big-bag-red-pin-3d-illustration-cartoon-character_827810-259.jpg" />
      <ion-card-header>
        <ion-card-title>My Location</ion-card-title>
        <ion-card-subtitle>Find your Locations</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>

    <ion-card routerLink="/place-order">
      <img alt="Silhouette of mountains" src="https://img.freepik.com/free-photo/cardboard-box-with-cargo-checklist-pencil_107791-16644.jpg?size=626&ext=jpg&ga=GA1.2.1545309509.1692892851&semt=ais" />
      <ion-card-header>
        <ion-card-title>My Orders</ion-card-title>
        <ion-card-subtitle>find and buy order here</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
